In [12]:
# Import the required libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [13]:
df = pd.read_csv('test_processed_splitted_question.csv')

In [14]:
df.head()

,ID,LotArea,TotalBsmtSF,GrLivArea,GarageArea,PoolArea,OverallCond,Utilities
0,1,15623,2396,4476,813,555,5,AllPub
1,2,11952,808,1969,534,0,6,AllPub
2,3,7558,896,1913,342,0,6,AllPub
3,4,6762,1187,1208,632,0,5,AllPub
4,5,8529,1454,1434,527,0,5,AllPub

In [15]:
num_values = 146
df['SalesPrice'] = np.random.rand(num_values)
df.to_csv('Test.csv')
df.head()

,ID,LotArea,TotalBsmtSF,GrLivArea,GarageArea,PoolArea,OverallCond,Utilities,SalesPrice
0,1,15623,2396,4476,813,555,5,AllPub,0.967378
1,2,11952,808,1969,534,0,6,AllPub,0.456812
2,3,7558,896,1913,342,0,6,AllPub,0.957939
3,4,6762,1187,1208,632,0,5,AllPub,0.992777
4,5,8529,1454,1434,527,0,5,AllPub,0.741579